.background-black{
  background-color: black;
}

.mail{
  font-family: sans-serif;
  color: #DF8A0D;
  text-decoration:none
}

.mail:hover{
  font-family: sans-serif;
  color: #c47a0c;
  text-decoration:none
}

.generalText{
  font-family: sans-serif;
  color: #DF8A0D;
}

.generalbuttonText{
  text-decoration:none;
  font-family: sans-serif;
  color: #DF8A0D;
}
.generalbuttonText:hover{
  font-family: sans-serif;
  color: #c47a0c;
  background-color: #373e44;
}


.btn-gold{
  background-color: #DF8A0D;
}

