 @font-face { font-family: CaflischScriptPro-Bold; src: url('CaflischScriptPro-Bold.otf'); } 

/* All Colors For The Site */
:root{
  --Gold:#DF890F;
  --HoverGold:#c47a0c;
  --Black:black;
  --DarkGray:#28292b;
  --DarkerGray:#212529;

}

body{
  margin: 0; padding: 0; 
  font-family: CaflischScriptPro-Bold;
  font-family: CaflischScriptPro-Bold, sans-serif; 
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#212529; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Gold); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--HoverGold); 
}

.background-black{
  background-color: var(--Black);
}

.mail{
  font-family: sans-serif;
  color: var(--Gold);
  text-decoration:none
}

.mail:hover{
  font-family: sans-serif;
  color: var(--HoverGold);
  text-decoration:none
}

.generalText{  
  font-family: CaflischScriptPro-Bold;              /*maybe */
  font-family: CaflischScriptPro-Bold, sans-serif;
  font-size: 1.5rem;
  color: var(--Gold);
}

.generalbuttonText{
  text-decoration:none;
  font-family: CaflischScriptPro-Bold;              /*maybe */
  font-family: CaflischScriptPro-Bold, sans-serif;  /*maybe */
  font-size: 50px;                                  /*maybe */
  color: var(--Gold);
}

.generalbuttonText:hover{  
  font-family: CaflischScriptPro-Bold;              /*maybe */
  font-family: CaflischScriptPro-Bold, sans-serif;  /*maybe */
  font-size: 50px;                                  /*maybe */
  color: var(--HoverGold);
  background-color: var(--DarkGray);
}

.logo-text-big{
  font-size: 200px;
  padding-bottom: 50px;
  margin:0;
  height: 200px;
  justify-content: center;
  text-decoration: none;
  color: var(--Gold);
}

.logo-text-big:hover{
  color: var(--HoverGold);
}

.btn-gold{
  background-color: var(--Gold);
}

#gallery{
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;
  
  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}
#gallery img,#gallery video {
  width:100%;
  height:auto;
  margin: 4% auto;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modal-img,.model-vid {
  width:100%;
  height:auto;
}


.modal-body {
  padding:0px;
}

.container1 {
  position: relative;
}

.image {
  display: block;
  margin-top: 0px !important;
  margin-bottom: 1.25rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--Gold);
}

.container1:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: relative;
  padding: 0 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}
.header-text{
  color: white;
  font-size: 26px;
  position: relative;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.dark-bg {
  background-color: var(--DarkGray);
}

#map { 
  width: 100%; 
  height: 100%;
}

#ProfilePicture { 
  width: 75%;
}

#ProfilInfo {
  font-size: 40px;
}

#LocationImg {
   width: 100%;
   height: 100%;
  }


@media (min-width:1000px) {
  .menu__btn{
    display:none ;
  }
}

@media (max-width:1000px) {
  #map {
    width: 100%; 
    height: 100%;
  }

  #ProfilInfo{
    font-size: 30px;
  }

  #LocationImg {
     width: 100%; 
     height: 100%;
    }

    .logo-text-big{
      font-size: 140px;
      padding-bottom: 50px;
      margin:0;
      height: 200px;
      justify-content: center;
      text-decoration: none;
      color: var(--Gold);
    }
}

@media (max-width:780px) {
  #map { 
    width: 100%; 
    height: 100%;
  }

  #ProfilInfo{
    font-size: 20px;
  }

  #LocationImg {
     width: 100%; 
     height: 100%;
    }

    .logo-text-big{
      font-size: 80px;
      padding-bottom: 50px;
      margin:0;
      height: 200px;
      justify-content: center;
      text-decoration: none;
      color: var(--Gold);
    }
}

@media (max-width:1200px) {
  #gallery{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
}

@media (max-width:800px) {
  #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
}
@media (max-width:600px) {
    #gallery{
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }  
}



#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
  background-color: var(--DarkGray);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: var(--DarkGray);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 100;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--Gold);
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  z-index: 99;
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--Gold);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--DarkerGray);
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: var(--HoverGold);
  color: var(--DarkerGray);
}

.PartnersImg{
  width: 300px;
  position: relative;
}

@media (max-width:1440px){
  .PartnersImg{
    width: 200px;
  }
}
@media (max-width:1000px){
  .PartnersImg{
    width: 140px;
  }
}
@media (max-width:800px){
  .PartnersImg{
    width: 90px;
  }
}




.cardContainer{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.cardContainer .jobCard{
  position: relative;
  cursor: pointer;
}

.cardContainer .jobCard .face{
  width: 250px;
  height: 350px;
  transition: 0.5s;
}

.cardContainer .jobCard .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.cardContainer .jobCard:hover .face.face1{
  background: var(--Gold);
  transform: translateY(0);
}

.cardContainer .jobCard .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.cardContainer .jobCard:hover .face.face1 .content{
  opacity: 1;
}

.cardContainer .jobCard .face.face1 .content img{
  max-width: 200px;
}

.cardContainer .jobCard .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: var(--Gold);
  text-align: center;
  font-size: 1.5em;
}

.cardContainer .jobCard .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-250px);
}

.cardContainer .jobCard:hover .face.face2{
  transform: translateY(0);
}

.cardContainer .jobCard .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.cardContainer .jobCard .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid var(--Gold);
}

.cardContainer .jobCard .face.face2 .content a:hover{
  background: var(--HoverGold);
  color: #fff;
}